{% extends "base.html" %}

{% block head_title %}Sign Up{% endblock head_title %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
	<form id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}

		<div class="mb-3 d-flex align-items-center">
			{{ form.full_name.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.full_name }}
				{{ form.full_name.errors }}
			</div>
		</div>

		<div class="mb-3 d-flex align-items-center">
			{{ form.username.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.username }}
				{{ form.username.errors }}
			</div>
		</div>

		<div class="mb-3 d-flex align-items-center">
			{{ form.email.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.email }}
				{{ form.email.errors }}
			</div>
		</div>

		<div class="mb-3 d-flex align-items-center">
			{{ form.profile_picture.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.profile_picture }}
				{{ form.profile_picture.errors }}
			</div>
		</div>

		<div class="mb-3 d-flex align-items-center">
			{{ form.password1.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.password1 }}
				{{ form.password1.errors }}
			</div>
		</div>

		<div class="password-rules fst-italic small mb-3">
			<p>Your password can’t be too similar to your other personal information.</p>
			<p>Your password must contain at least 8 characters.</p>
			<p>Your password can’t be a commonly used password.</p>
			<p>Your password can’t be entirely numeric.</p>
		</div>

		<div class="mb-3 d-flex align-items-center">
			{{ form.password2.label_tag }}
			<div class="flex-grow-1 ms-3">
				{{ form.password2 }}
				{{ form.password2.errors }}
			</div>
		</div>

		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		<button class="btn btn-primary float-end mt-3" type="submit">Sign Up &raquo;</button>
	</form>
</div>
{% endblock content %}