{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 content scroll">
    <h2 class="text-center">Posts Commented on by {{ profile_user.username }}</h2>
    <ul class="nav justify-content-center">
        {% with username=profile_user.username %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' username %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_posts' username %}">Posts by {{ username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_commented_posts' username %}">Commented Posts</a>
        </li>
        {% endwith %}
    </ul>
    {% if user.is_authenticated %}
    {% if posts %}
    <div class="list-group post_list">
        {% for post in posts %}
        <a href="{% url 'post_detail' post.slug %}" class="list-group-item list-group-item-action">
            <div class="row align-items-center mb-3 mt-3">
                <div class="col-md-8">
                        <h5>{{ post.title }} | {{ post.author }}</h5>
                        <small class="text-muted">Posted on {{ post.created_on|date:"F j, Y, g:i a" }}</small>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-between">
                        <span>
                            {{ post.total_likes }} like{{ post.total_likes|pluralize }}
                            <i class="fa-regular fa-thumbs-up"></i>
                        </span>
                        <span>
                            {{ post.comment_count }} comment{{ post.comment_count|pluralize }}
                            <i class="fa-solid fa-comments"></i>
                        </span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No commented posts found.</p>
    {% endif %}
    {% else %}
    <p class="text-center"><small class="text-muted">Only <a href="{% url 'account_login' %}">logged in</a> users can
            see this page.</small></p>
    {% endif %}
</div>
{% endblock %}