{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid scroll content">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="card-full">
                    <div class="card-inner">
                        <div class="row justify-content-between">
                            <div class="col-9">
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <!-- Left side: profile picture + username -->
                                    <div class="d-flex align-items-center gap-2">
                                        {% if post.author.profile_picture %}
                                        <img class="profile_picture_small" src="{{ post.author.profile_picture.url }}">
                                        {% else %}
                                        <img class="profile_picture_small"
                                            src="https://res.cloudinary.com/dpbcyiayr/image/upload/v1/samples/cloudinary-icon.jpg">
                                        {% endif %}

                                        <strong>
                                            <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
                                        </strong>
                                    </div>

                                    <!-- Right side: edit/delete buttons -->
                                    {% if user == post.author %}
                                    <div class="d-flex gap-2">
                                        <button id="edit-post-btn" class="btn btn-outline-primary btn-sm"
                                            data-slug="{{ post.slug }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <form action="{% url 'delete_post' post.slug %}" method="post"
                                            onsubmit="return confirm('Are you sure you want to delete this post? This action cannot be undone.')"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-square-xmark"></i>
                                            </button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-3 d-flex flex-column align-items-end">
                                <div class="d-flex align-items-center">
                                    <span class="me-2">{{ post.get_category_display }}</span>
                                    <form class="favourite-form" data-slug="{{ post.slug }}">
                                        {% csrf_token %}
                                        <button class="btn fav-btn p-0" type="submit" style="font-size: 1.2rem;">
                                            {% if user in post.favourites.all %}
                                            <i class="gold fa-solid fa-star"></i>
                                            {% else %}
                                            <i class="black fa-regular fa-star"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                                <div class="mt-1">{{ post.created_on | date:"M d, Y, P" }}</div>
                            </div>
                        </div>
                        <div class="row col-12">
                            <h3>{{ post.title|upper }}</h3>
                        </div>
                        <div id="post-content">
                            <p>{{ post.content | safe }}</p>
                        </div>
                        <div id="post-updated-on" style="font-size: small; color: gray;">
                            {% if post.is_edited %}
                            Last Edited: {{ post.updated_on|date:"N j, Y, P" }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if user.is_authenticated %}
                        <form class="like-form" data-ajax="true" data-slug="{{ post.slug }}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn like-btn">
                                {% if user in post.likes.all %}
                                <i class="blue fa-solid fa-thumbs-up"></i>
                                {% else %}
                                <i class="fa-regular fa-thumbs-up"></i>
                                {% endif %}
                            </button>
                            <span class="like-count">
                                {{ post.total_likes }} like{{ post.total_likes | pluralize}}
                            </span>
                            <div class="right">
                                {{ post.comment_count }} comment{{ post.comment_count | pluralize }}</i>
                                <button type="button" class="reply-btn btn" data-bs-toggle="modal"
                                    data-bs-target="#commentModal">
                                    <i class="fa-solid fa-comments"></i>
                                </button>
                            </div>
                            {% else %}
                            {{ post.total_likes }} <i class="fa-regular fa-thumbs-up"></i>
                            <div class="right">
                                {{ post.comment_count }} comment{{ post.comment_count | pluralize }}<i
                                    class="p-2 fa-solid fa-comments"></i>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments justify-content-center">
            <div class="row col-12">
                {% for comment in comments %}
                    {% include 'posts/comments.html' with comments=comment.all slug=post.slug %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="comment-form" method="post" action="{% url 'post_detail' post.slug %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Leave a Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ comment_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Post Reply</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}